h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slategray;
    margin: 10px;
}

.container-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success{
    color: lawngreen;
    font-size: 3rem;
}

.failure{
    color: orangered;
    font-size: 3rem;
}